/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
 
.reveal .controls button,
.reveal .controls button.enabled,
.reveal .controls button.enabled:hover {
	border: none;
	border-color: transparent;
	font-size: 30px;
	line-height: 0px;
	margin: 0px;
	padding: 0px;
	transform: scale(1);
	box-sizing: content-box;
}
.reveal .controls button.navigate-left {

}
/*
.reveal .controls button.navigate-left {
	left: 12px;
	font-size: 33px;
}
.reveal .controls button.navigate-right {
	top: 42px;
}
.reveal .controls button.navigate-up {
	left: 45px;
	top: 8px;
	font-size: 32px;
}
.reveal .controls button.navigate-down {
	left: 45px;
}
.reveal .controls button.navigate-left,
.reveal .controls button.navigate-right {
	width: 34px;
	height: 30px;
}
.reveal .controls button.navigate-up,
.reveal .controls button.navigate-down {
	width: 30px;
	height: 34px;
}
.reveal .controls .navigate-left:before,
.reveal .controls .navigate-left.enabled:before {
  color: #42affa;
  content: "\25C0";
}
.reveal .controls .navigate-right:before,
.reveal .controls .navigate-right.enabled:before {
  color: #42affa;
  content: "\25b6";
}
.reveal .controls .navigate-up:before,
.reveal .controls .navigate-up.enabled:before {
  color: #42affa;
  content: "\25b2";
}
.reveal .controls .navigate-down:before,
.reveal .controls .navigate-down.enabled:before {
  color: #42affa;
  content: "\25bc";
}
.reveal .controls .navigate-left.enabled:hover:before,
.reveal .controls .navigate-right.enabled:hover:before,
.reveal .controls .navigate-up.enabled:hover:before,
.reveal .controls .navigate-down.enabled:hover:before {
  color: #8dcffc;
}
*/